<template>
  <div>
    <!-- <conditional-view /> Multi-Word -->
    <iteration-view />
  </div>
</template>

<script>
// import ConditionalView from "./components/Conditional.vue";
import IterationView from './components/Iteration.vue';

export default {
    components: {
      // ConditionalView,
      IterationView,
    },
};
</script>